/** Hide ru elements **/
.ru {
display:none !important;
}


/** fix for round background on mobile zoom close icon**/
@media screen and (max-width: 828px) {
a.fancybox-close.b-product_image_zoomed-close_button {
height: 32px;
width: 32px;
background-color: rgba(255,255,255,0.6);
border-radius: 16px;
-moz-border-radius: 16px;
-webkit-border-radius: 16px;
text-align: center;
padding-top: 5px;
padding-left: 8px;
}
}


/**Fix for main navigation and footer hover behavior**/
.b-menu_category-item, .b-footer_bottom-navigation_item.top-category {
cursor: default;
}
/** fix for mobile shipping cost in recap**/
.b-summary_list-shipping .b-summary_list-value {
width: 50%;
float: left;
text-align: right;
color: black;
}

/** fix search result title **/
span.js-search-foundresult_title.b-search-foundresult_title {
display:none;
}

/** Transitional - Hide newsletter **/
.l-footer_top-locale {
float: left;
padding: 30px 0 30px;
}

.b-simple_newsletter {
display:none;
}

.b-variation-few_left_message {
display: none !important;
}

/** Checkout hide signup **/
#dwfrm_login_signup {
display:none;
}

label[for="dwfrm_login_signup"] {
display:none !important;
}

/** x icon to remove a filter 
.b-breadcrumb-relax_image {
padding-left: 5px;
}
**/

/** remove subtitle padding **/
.l-homepage-mood_banner_info {
padding:0 0;
}

/** back to top right space **/
.b-scroll_to_top.h-opaque {
padding-right: 2%;
}

/** tablet left menu line spacing
@media screen and (max-width: 1068px) {

.b-menu_category-item, .b-menu_category-level_2-list, .b-menu_category-level_2-link--current, .b-menu_category-level_3-list {
line-height:40px;
}

}
**/

/** notify me margin in PDP **/
.b-notifyme_form-privacy {
margin-top: 10px;
}

.b-notifyme_form {
font: 14px/26px "AvenirLTStd-Roman",Arial,sans-serif;
}


/** Hide PDP material field **/
.b-product_tabs-content .b-product_tabs-label {
display: none;
}

.b-accordion-description_content .b-product_tabs-label {
display:none;
}

.b-product_material {
display:none;
}

.b-product_master_id {
margin-top:25px;
}

/** filter flyout fix gender 

.b-refinement--category.js-category_refinement.b-scroll-wrapper > ul > li:nth-child(2) {
display: none;
}

div.js-refinement.b-refinement.b-refinement--categoria.js-category_refinement.b-scroll-wrapper > ul > li:nth-child(2) {
display:none;
}
**/

/** filter flyout opacity and title weight **/
.b-refinement_dropdown-flyout {
background-color:rgba(255,255,255,0.97) !important;
}
.b-refinement_containter {
background-color: rgba(0,0,0,0) !important;
}
.l-search_result-wrapper {
background-color:rgba(255,255,255,0.97) !important;
}

.l-search_result-wrapper .b-refinement-sub_title {
font-weight: bold;
}

/** Sort by alignment **/
.l-search_result-wrapper .b-refinement_price_range-value .b-sortby_price_range-value_link {
margin-left: 33px ;
}

.b-refinement_price_range-value .b-refinement_containter > span {
display: none;
}

.l-search_result-wrapper .b-refinement_price_range-value .b-sortby_price_range-value_link:nth-child(2) {
margin-right: 33px;
margin-left: 153px
}


/** Filter and sort by toggle effect **/
.l-search_result-wrapper .b-refinement_dropdown-title {
z-index: 9;
}

.l-search_result-wrapper .b-refinement_dropdown-title:before, .l-search_result-wrapper .b-refinement_dropdown-title:after {
text-decoration: none !important;
}

/** Min width of the footer columns **/
.l-footer_bottom-navigation_list .b-content_asset--footer-world-links {
min-width: 120px;
}

/** Mobile footer link bottom margin fix **/
.b-mobile_social_menu {
padding: 5px 8% 5px;
}


/** Minicart flyout fix for Desktop **/
.b-mini_cart-flyout, .b-wishlist_flyout-list-flyout {
padding: 2%;
}

.b-mini_cart-flyout_products, .b-wishlist_flyout-list-flyout_products {
padding: 35px 4% 0 0;
}



/** Fix for sharing icon **/
.l-pdp .b-product_share:hover .b-product_share-content, .b-quickview-wrapper .b-product_share:hover .b-product_share-content {
position: absolute;
z-index: 1;
background-color: white;
width: 265px;
}

/** fix HP letter spacing **/
.l-home-page .l-homepage-title, .l-home-page .l-homepage-hero_banner-info_title {
letter-spacing: 0px;
}


/** Fix OneSize **/
a[title="OneSize"] { 
width: 90px !important;
}


/** START CONFIRMATION PAGE FIX **/
.l-checkout_cart-left .b-order_confirmation-title {
text-transform: none;
letter-spacing: 0.1em;
}

.b-order_confirmation-order_information, .b-order_confirmation-product_list_wrapper {
border-bottom: 1px solid #f2f2f2;
}

.b-order_confirmation-message {
padding-bottom:10px;
}

.b-order_confirmation-details_wrapper {
padding: 45px 0 20px;
}

.b-order_confirmation-order_information-row {
padding: 0 0 20px;
}

.b-mini_credit_card {
padding: 0;
}

.b-order_confirmation-data_label, .b-order_confirmation-shipping_status-data_label, .b-order_confirmation-data_value, .b-order_confirmation-shipping_status-data_value, .b-order_confirmation-order_addresses-shipping h3, .b-order_confirmation-order_addresses-billing h3, .b-order_confirmation-order_addresses-payment h3, .b-order_confirmation-payment_type, .b-order_confirmation-payment_amount .b-order_confirmation-data_label {
font: 12px/1"FuturaStd-Medium", Arial, sans-serif;
}


.b-order_confirmation-estimated_delivery {
font: 12px/28px "FuturaStd-Heavy","Arial Bold",sans-serif;
}

.b-order_confirmation-payment_amount {
line-height: 12px !important;
}

.b-order_confirmation-data_label, .b-order_confirmation-shipping_status-data_label {
text-transform: uppercase;
}

.b-mini_credit_card-expires_label, .b-order_confirmation-payment_amount .b-order_confirmation-data_label {
text-transform: none;
}

/** END ORD CONF PAGE **/


/** Hide suggestion for phone number **/
.f-type-phone .f-field_description {
display:none;
}

/** CO cards icons **/
li.b-hosted_payment_method-item {
display: inline;
padding-right: 2px;
}

/** Remove preorder label
.b-content_asset--product-preorder {
display: none;
}
**/
/** remove "close" button in change Country page **/
a.b-countryselect-button_close {
display: none;
}

/** resize copyright footer **/
.b-copyright_footer {
font-size: 8px;
}

/** Phone button moved to the right in COD checkout 
.b-cash_on_delivery-phone_block_center {
float: right;
}
.b-cash_on_delivery-phone_block_left {
float: right;
}
**/

/** Runway highlight **/

.b-menu_category-item:nth-child(2) li.b-menu_category-level_2-item.b-menu_category-level_2-item--last li:nth-child(1) h3, .b-menu_category-item:nth-child(1) li.b-menu_category-level_2-item.b-menu_category-level_2-item--last li:nth-child(1) h3  {
font-weight: bold;
}

.b-menu_category-item:nth-child(2) li.b-menu_category-level_2-item.b-menu_category-level_2-item--last li:nth-child(1), .b-menu_category-item:nth-child(1) li.b-menu_category-level_2-item.b-menu_category-level_2-item--last li:nth-child(1) {
margin: 10px 0;
}


/**Change colors wishlist and add to cart buttons in PDP**/

.l-pdp .b-product_content .b-add_to_wishlist {
background: #CCCCCC;
border: #CCCCCC;
}

.l-pdp .b-product_content .b-add_to_wishlist:hover {
background: #999999;
color: #ffffff;
border: #999;
}

.l-pdp .b-product_add_to_cart-submit:hover {
background: #999;
color: #fff;
border: #999;
} 


/**grey background footer**/

.l-footer {
background-color: #f7f7f7;
}


/**Contact us wrong alignment in tablet version**/

@media screen and (max-width: 828px) {
.b-customer_service-sub_header-right {
margin-left: 0px;
}
}

/**Remove Language selector

.l-footer_top-locale .b-language_selector {
display: none;
}

.l-footer_top-locale-labels {
visibility: hidden;
width: 23%;
}

.l-footer_top-locale-labels:after {
content: "COUNTRY:";
visibility: visible;
}​
**/

/**pre-order badge style in product include

.product-availability-list {
background-color: #e9e9e9;
padding: 2px 12px;
min-width: 120px;
color: black;
text-transform: uppercase;
}

.b-mini_cart.product-availability-list, .b-wishlist_flyout-list.product-availability-list {
margin: 5px 30px;
}

**/


/** Tablet PDP temp fix  **/
@media only screen and (max-width: 1059px) {

.l-product_images_container {
width: 63%;
margin: 0 0 30px 0;
}

.l-pdp_primary_content .l-product-details {
margin: 0 0 0 4%;
}

.l-pdp_primary_content .l-product-details {
width: 33%;
}

} 

/** Hide ru elements **/


.ru {
display:none !important;
}


/** fix for round background on mobile zoom close icon**/
@media screen and (max-width: 828px) {
a.fancybox-close.b-product_image_zoomed-close_button {
height: 32px;
width: 32px;
background-color: rgba(255,255,255,0.6);
border-radius: 16px;
-moz-border-radius: 16px;
-webkit-border-radius: 16px;
text-align: center;
padding-top: 5px;
padding-left: 8px;
}
}


/**Fix for main navigation and footer hover behavior**/
.b-menu_category-item, .b-footer_bottom-navigation_item.top-category {
cursor: default;
}
/** fix for mobile shipping cost in recap**/
.b-summary_list-shipping .b-summary_list-value {
width: 50%;
float: left;
text-align: right;
color: black;
}

/** fix search result title **/
span.js-search-foundresult_title.b-search-foundresult_title {
display:none;
}

/** Transitional - Hide newsletter **/
.l-footer_top-locale {
float: left;
padding: 30px 0 30px;
}

.b-simple_newsletter {
display:none;
}

.b-variation-few_left_message {
display: none !important;
}

/** Checkout hide signup **/
#dwfrm_login_signup {
display:none;
}

label[for="dwfrm_login_signup"] {
display:none !important;
}

/** x icon to remove a filter 
.b-breadcrumb-relax_image {
padding-left: 5px;
}
**/

/** remove subtitle padding **/
.l-homepage-mood_banner_info {
padding:0 0;
}

/** back to top right space **/
.b-scroll_to_top.h-opaque {
padding-right: 2%;
}

/** tablet left menu line spacing
@media screen and (max-width: 1068px) {

.b-menu_category-item, .b-menu_category-level_2-list, .b-menu_category-level_2-link--current, .b-menu_category-level_3-list {
line-height:40px;
}

}
**/

/** notify me margin in PDP **/
.b-notifyme_form-privacy {
margin-top: 10px;
}

.b-notifyme_form {
font: 14px/26px "AvenirLTStd-Roman",Arial,sans-serif;
}


/** Hide PDP material field **/
.b-product_tabs-content .b-product_tabs-label {
display: none;
}

.b-accordion-description_content .b-product_tabs-label {
display:none;
}

.b-product_material {
display:none;
}

.b-product_master_id {
margin-top:25px;
}

/** filter flyout fix gender 

.b-refinement--category.js-category_refinement.b-scroll-wrapper > ul > li:nth-child(2) {
display: none;
}

div.js-refinement.b-refinement.b-refinement--categoria.js-category_refinement.b-scroll-wrapper > ul > li:nth-child(2) {
display:none;
}
**/

/** filter flyout opacity and title weight **/
.b-refinement_dropdown-flyout {
background-color:rgba(255,255,255,0.97) !important;
}
.b-refinement_containter {
background-color: rgba(0,0,0,0) !important;
}
.l-search_result-wrapper {
background-color:rgba(255,255,255,0.97) !important;
}

.l-search_result-wrapper .b-refinement-sub_title {
font-weight: bold;
}

/** Sort by alignment **/
.l-search_result-wrapper .b-refinement_price_range-value .b-sortby_price_range-value_link {
margin-left: 33px ;
}

.b-refinement_price_range-value .b-refinement_containter > span {
display: none;
}

.l-search_result-wrapper .b-refinement_price_range-value .b-sortby_price_range-value_link:nth-child(2) {
margin-right: 33px;
margin-left: 153px
}


/** Filter and sort by toggle effect **/
.l-search_result-wrapper .b-refinement_dropdown-title {
z-index: 9;
}

.l-search_result-wrapper .b-refinement_dropdown-title:before, .l-search_result-wrapper .b-refinement_dropdown-title:after {
text-decoration: none !important;
}

/** Min width of the footer columns **/
.l-footer_bottom-navigation_list .b-content_asset--footer-world-links {
min-width: 120px;
}

/** Mobile footer link bottom margin fix **/
.b-mobile_social_menu {
padding: 5px 8% 5px;
}


/** Minicart flyout fix for Desktop **/
.b-mini_cart-flyout, .b-wishlist_flyout-list-flyout {
padding: 2%;
}

.b-mini_cart-flyout_products, .b-wishlist_flyout-list-flyout_products {
padding: 35px 4% 0 0;
}



/** Fix for sharing icon **/
.l-pdp .b-product_share:hover .b-product_share-content, .b-quickview-wrapper .b-product_share:hover .b-product_share-content {
position: absolute;
z-index: 1;
background-color: white;
width: 265px;
}

/** fix HP letter spacing **/
.l-home-page .l-homepage-title, .l-home-page .l-homepage-hero_banner-info_title {
letter-spacing: 0px;
}


/** Fix OneSize **/
a[title="OneSize"] { 
width: 90px !important;
}


/** START CONFIRMATION PAGE FIX **/
.l-checkout_cart-left .b-order_confirmation-title {
text-transform: none;
letter-spacing: 0.1em;
}

.b-order_confirmation-order_information, .b-order_confirmation-product_list_wrapper {
border-bottom: 1px solid #f2f2f2;
}

.b-order_confirmation-message {
padding-bottom:10px;
}

.b-order_confirmation-details_wrapper {
padding: 45px 0 20px;
}

.b-order_confirmation-order_information-row {
padding: 0 0 20px;
}

.b-mini_credit_card {
padding: 0;
}

.b-order_confirmation-data_label, .b-order_confirmation-shipping_status-data_label, .b-order_confirmation-data_value, .b-order_confirmation-shipping_status-data_value, .b-order_confirmation-order_addresses-shipping h3, .b-order_confirmation-order_addresses-billing h3, .b-order_confirmation-order_addresses-payment h3, .b-order_confirmation-payment_type, .b-order_confirmation-payment_amount .b-order_confirmation-data_label {
font: 12px/1"FuturaStd-Medium", Arial, sans-serif;
}


.b-order_confirmation-estimated_delivery {
font: 12px/28px "FuturaStd-Heavy","Arial Bold",sans-serif;
}

.b-order_confirmation-payment_amount {
line-height: 12px !important;
}

.b-order_confirmation-data_label, .b-order_confirmation-shipping_status-data_label {
text-transform: uppercase;
}

.b-mini_credit_card-expires_label, .b-order_confirmation-payment_amount .b-order_confirmation-data_label {
text-transform: none;
}

/** END ORD CONF PAGE **/


/** Hide suggestion for phone number **/
.f-type-phone .f-field_description {
display:none;
}

/** CO cards icons **/
li.b-hosted_payment_method-item {
display: inline;
padding-right: 2px;
}

/** Remove preorder label
.b-content_asset--product-preorder {
display: none;
}
**/
/** remove "close" button in change Country page **/
a.b-countryselect-button_close {
display: none;
}

/** resize copyright footer **/
.b-copyright_footer {
font-size: 8px;
}

/** Phone button moved to the right in COD checkout 
.b-cash_on_delivery-phone_block_center {
float: right;
}
.b-cash_on_delivery-phone_block_left {
float: right;
}
**/

/** Runway highlight **/

.b-menu_category-item:nth-child(2) li.b-menu_category-level_2-item.b-menu_category-level_2-item--last li:nth-child(1) h3, .b-menu_category-item:nth-child(1) li.b-menu_category-level_2-item.b-menu_category-level_2-item--last li:nth-child(1) h3  {
font-weight: bold;
}

.b-menu_category-item:nth-child(2) li.b-menu_category-level_2-item.b-menu_category-level_2-item--last li:nth-child(1), .b-menu_category-item:nth-child(1) li.b-menu_category-level_2-item.b-menu_category-level_2-item--last li:nth-child(1) {
margin: 10px 0;
}


/**Change colors wishlist and add to cart buttons in PDP**/

.l-pdp .b-product_content .b-add_to_wishlist {
background: #CCCCCC;
border: #CCCCCC;
}

.l-pdp .b-product_content .b-add_to_wishlist:hover {
background: #999999;
color: #ffffff;
border: #999;
}

.l-pdp .b-product_add_to_cart-submit:hover {
background: #999;
color: #fff;
border: #999;
} 


/**grey background footer**/

.l-footer {
background-color: #f7f7f7;
}


/**Contact us wrong alignment in tablet version**/

@media screen and (max-width: 828px) {
.b-customer_service-sub_header-right {
margin-left: 0px;
}
}

/**Remove Language selector

.l-footer_top-locale .b-language_selector {
display: none;
}

.l-footer_top-locale-labels {
visibility: hidden;
width: 23%;
}

.l-footer_top-locale-labels:after {
content: "COUNTRY:";
visibility: visible;
}​
**/

/**pre-order badge style in product include

.product-availability-list {
background-color: #e9e9e9;
padding: 2px 12px;
min-width: 120px;
color: black;
text-transform: uppercase;
}

.b-mini_cart.product-availability-list, .b-wishlist_flyout-list.product-availability-list {
margin: 5px 30px;
}

**/

/** Hide ru elements **/
.ru {
display:none !important;
}


/** fix for round background on mobile zoom close icon**/
@media screen and (max-width: 828px) {
a.fancybox-close.b-product_image_zoomed-close_button {
height: 32px;
width: 32px;
background-color: rgba(255,255,255,0.6);
border-radius: 16px;
-moz-border-radius: 16px;
-webkit-border-radius: 16px;
text-align: center;
padding-top: 5px;
padding-left: 8px;
}
}


/**Fix for main navigation and footer hover behavior**/
.b-menu_category-item, .b-footer_bottom-navigation_item.top-category {
cursor: default;
}
/** fix for mobile shipping cost in recap**/
.b-summary_list-shipping .b-summary_list-value {
width: 50%;
float: left;
text-align: right;
color: black;
}

/** fix search result title **/
span.js-search-foundresult_title.b-search-foundresult_title {
display:none;
}

/** Transitional - Hide newsletter **/
.l-footer_top-locale {
float: left;
padding: 30px 0 30px;
}

.b-simple_newsletter {
display:none;
}

.b-variation-few_left_message {
display: none !important;
}

/** Checkout hide signup **/
#dwfrm_login_signup {
display:none;
}

label[for="dwfrm_login_signup"] {
display:none !important;
}

/** x icon to remove a filter 
.b-breadcrumb-relax_image {
padding-left: 5px;
}
**/

/** remove subtitle padding **/
.l-homepage-mood_banner_info {
padding:0 0;
}

/** back to top right space **/
.b-scroll_to_top.h-opaque {
padding-right: 2%;
}

/** tablet left menu line spacing
@media screen and (max-width: 1068px) {

.b-menu_category-item, .b-menu_category-level_2-list, .b-menu_category-level_2-link--current, .b-menu_category-level_3-list {
line-height:40px;
}

}
**/

/** notify me margin in PDP **/
.b-notifyme_form-privacy {
margin-top: 10px;
}

.b-notifyme_form {
font: 14px/26px "AvenirLTStd-Roman",Arial,sans-serif;
}


/** Hide PDP material field **/
.b-product_tabs-content .b-product_tabs-label {
display: none;
}

.b-accordion-description_content .b-product_tabs-label {
display:none;
}

.b-product_material {
display:none;
}

.b-product_master_id {
margin-top:25px;
}

/** filter flyout fix gender 

.b-refinement--category.js-category_refinement.b-scroll-wrapper > ul > li:nth-child(2) {
display: none;
}

div.js-refinement.b-refinement.b-refinement--categoria.js-category_refinement.b-scroll-wrapper > ul > li:nth-child(2) {
display:none;
}
**/

/** filter flyout opacity and title weight **/
.b-refinement_dropdown-flyout {
background-color:rgba(255,255,255,0.97) !important;
}
.b-refinement_containter {
background-color: rgba(0,0,0,0) !important;
}
.l-search_result-wrapper {
background-color:rgba(255,255,255,0.97) !important;
}

.l-search_result-wrapper .b-refinement-sub_title {
font-weight: bold;
}

/** Sort by alignment **/
.l-search_result-wrapper .b-refinement_price_range-value .b-sortby_price_range-value_link {
margin-left: 33px ;
}

.b-refinement_price_range-value .b-refinement_containter > span {
display: none;
}

.l-search_result-wrapper .b-refinement_price_range-value .b-sortby_price_range-value_link:nth-child(2) {
margin-right: 33px;
margin-left: 153px
}


/** Filter and sort by toggle effect **/
.l-search_result-wrapper .b-refinement_dropdown-title {
z-index: 9;
}

.l-search_result-wrapper .b-refinement_dropdown-title:before, .l-search_result-wrapper .b-refinement_dropdown-title:after {
text-decoration: none !important;
}

/** Min width of the footer columns **/
.l-footer_bottom-navigation_list .b-content_asset--footer-world-links {
min-width: 120px;
}

/** Mobile footer link bottom margin fix **/
.b-mobile_social_menu {
padding: 5px 8% 5px;
}


/** Minicart flyout fix for Desktop **/
.b-mini_cart-flyout, .b-wishlist_flyout-list-flyout {
padding: 2%;
}

.b-mini_cart-flyout_products, .b-wishlist_flyout-list-flyout_products {
padding: 35px 4% 0 0;
}



/** Fix for sharing icon **/
.l-pdp .b-product_share:hover .b-product_share-content, .b-quickview-wrapper .b-product_share:hover .b-product_share-content {
position: absolute;
z-index: 1;
background-color: white;
width: 265px;
}

/** fix HP letter spacing **/
.l-home-page .l-homepage-title, .l-home-page .l-homepage-hero_banner-info_title {
letter-spacing: 0px;
}


/** Fix OneSize **/
a[title="OneSize"] { 
width: 90px !important;
}


/** START CONFIRMATION PAGE FIX **/
.l-checkout_cart-left .b-order_confirmation-title {
text-transform: none;
letter-spacing: 0.1em;
}

.b-order_confirmation-order_information, .b-order_confirmation-product_list_wrapper {
border-bottom: 1px solid #f2f2f2;
}

.b-order_confirmation-message {
padding-bottom:10px;
}

.b-order_confirmation-details_wrapper {
padding: 45px 0 20px;
}

.b-order_confirmation-order_information-row {
padding: 0 0 20px;
}

.b-mini_credit_card {
padding: 0;
}

.b-order_confirmation-data_label, .b-order_confirmation-shipping_status-data_label, .b-order_confirmation-data_value, .b-order_confirmation-shipping_status-data_value, .b-order_confirmation-order_addresses-shipping h3, .b-order_confirmation-order_addresses-billing h3, .b-order_confirmation-order_addresses-payment h3, .b-order_confirmation-payment_type, .b-order_confirmation-payment_amount .b-order_confirmation-data_label {
font: 12px/1"FuturaStd-Medium", Arial, sans-serif;
}


.b-order_confirmation-estimated_delivery {
font: 12px/28px "FuturaStd-Heavy","Arial Bold",sans-serif;
}

.b-order_confirmation-payment_amount {
line-height: 12px !important;
}

.b-order_confirmation-data_label, .b-order_confirmation-shipping_status-data_label {
text-transform: uppercase;
}

.b-mini_credit_card-expires_label, .b-order_confirmation-payment_amount .b-order_confirmation-data_label {
text-transform: none;
}

/** END ORD CONF PAGE **/


/** Hide suggestion for phone number **/
.f-type-phone .f-field_description {
display:none;
}

/** CO cards icons **/
li.b-hosted_payment_method-item {
display: inline;
padding-right: 2px;
}

/** Remove preorder label
.b-content_asset--product-preorder {
display: none;
}
**/
/** remove "close" button in change Country page **/
a.b-countryselect-button_close {
display: none;
}

/** resize copyright footer **/
.b-copyright_footer {
font-size: 8px;
}

/** Phone button moved to the right in COD checkout 
.b-cash_on_delivery-phone_block_center {
float: right;
}
.b-cash_on_delivery-phone_block_left {
float: right;
}
**/

/** Runway highlight **/

.b-menu_category-item:nth-child(2) li.b-menu_category-level_2-item.b-menu_category-level_2-item--last li:nth-child(1) h3, .b-menu_category-item:nth-child(1) li.b-menu_category-level_2-item.b-menu_category-level_2-item--last li:nth-child(1) h3  {
font-weight: bold;
}

.b-menu_category-item:nth-child(2) li.b-menu_category-level_2-item.b-menu_category-level_2-item--last li:nth-child(1), .b-menu_category-item:nth-child(1) li.b-menu_category-level_2-item.b-menu_category-level_2-item--last li:nth-child(1) {
margin: 10px 0;
}


/**Change colors wishlist and add to cart buttons in PDP**/

.l-pdp .b-product_content .b-add_to_wishlist {
background: #CCCCCC;
border: #CCCCCC;
}

.l-pdp .b-product_content .b-add_to_wishlist:hover {
background: #999999;
color: #ffffff;
border: #999;
}

.l-pdp .b-product_add_to_cart-submit:hover {
background: #999;
color: #fff;
border: #999;
} 


/**grey background footer**/

.l-footer {
background-color: #f7f7f7;
}


/**Contact us wrong alignment in tablet version**/

@media screen and (max-width: 828px) {
.b-customer_service-sub_header-right {
margin-left: 0px;
}
}

/**Remove Language selector

.l-footer_top-locale .b-language_selector {
display: none;
}

.l-footer_top-locale-labels {
visibility: hidden;
width: 23%;
}

.l-footer_top-locale-labels:after {
content: "COUNTRY:";
visibility: visible;
}​
**/

/**pre-order badge style in product include

.product-availability-list {
background-color: #e9e9e9;
padding: 2px 12px;
min-width: 120px;
color: black;
text-transform: uppercase;
}

.b-mini_cart.product-availability-list, .b-wishlist_flyout-list.product-availability-list {
margin: 5px 30px;
}

**/

.varying_block-padding_mood_left {
    padding: 0 2%;
}

.varying_block-padding_mood_right {
    padding: 0 4%;
}

@media screen and (max-width: 1030px) and (min-width: 768px) {
   .font_mood_title_left {
    font-size: 24px !important;
    line-height: 24px !important;
    margin: 9px 0 7px !important;
}

   .font_mood_title_right {
    font-size: 24px !important;
    line-height: 24px !important;
    margin: 10px 0 10px !important;
}

   .font_mood_subtitle_left {
    font-size: 14px !important;
    line-height: 15px !important;
}
   .font_mood_subtitle_right {
    font-size: 14px !important;
    line-height: 16px !important;
}

   .l-homepage-link {
    font-size: 12px !important;
    line-height: 23px !important;
}

    .l-homepage-link_mood_left {
        margin: 8px 0 0 !important; 
    }

    .l-homepage-link_mood_right {
        margin: 10px 0 0 !important; 
    }


}
.varying_block-padding {
    padding: 3%;
}